body{
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
}

/*HEADER START*/

.head{
    padding-bottom: 50px;
    width: 100%;
    height: auto;
}


.head .header{
    display: flex;
}


.head .header .Hero{
    font-size: 50px;
   font-weight: bold;
   width: 50%;
}


.head .header .Hero img{
width: 80px;
height: auto;

}


.clour{
    color: orangered;
}

.head .header .nav{
    text-align: right;
}


.head .header .nav .navbar{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 30px;
    text-align: right;
    padding-left: 250px;
  
}

.head .header .nav .navbar li{
    list-style: none;
    font-size: 30px;
}
/*HEADER END*/


/*Explore Your Travel Start*/
.Images{
   width: 100%;
   height: auto;
}

.Images .img{
    position: relative;
    height: 400px;
    
}

.Images .img img{
    width: 100%;
    height: auto;
    
    
}

.Images .img .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin-top: 70px;
       
}


.Images .img .text h1{
    text-align: center;
    font-size: 80px;
}


.Images .img .text p{
    text-align: center;
    font-size: 30px;
}


.Images .img .text .BUTTON{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 10px;
    padding: 20px;
    background-color:rgb(236, 241, 241, 0.3);
    border-radius: 10px;
    
    
}

.Images .img .text .BUTTON .white-button{
    padding: 30px 30px 30px 30px;
    border: 1px solid rgb(141, 139, 139);
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    
}

.Images .img .text .BUTTON .orang-button{
    border: 1px solid orangered;
    color: orangered;
    border-radius: 10px;
    background-color: orangered;
    cursor: pointer;

}

.Images .img .text .BUTTON .orang-button p{
    color: white;
    font-size: 20px;
    
}
/*Explore Your Travel End*/

/*Popular ture start*/
.Our-Popular-Tours{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 350px;
    gap: 50px;
}


.Our-Popular-Tours .more h1{
font-size: 60px;
font-weight: bolder;
}


.Our-Popular-Tours .more h3{
    font-size: 25px;
    opacity: .7;
    font-weight: 500;
}

.Our-Popular-Tours .more .orang-button{
    border: 1px solid orangered;
    color: white;
    border-radius: 10px;
    background-color: orangered;
    cursor: pointer;
    padding: 20px 50px 20px 50px;
    font-size: 20px;
}


.Our-Popular-Tours .pic1{
    padding-top: 75px;
}


.Our-Popular-Tours .pic1 img{
    width: 100%;
    height: 590px;
}
/*Popular ture end*/


/*Destination Start*/
.Destination{
    padding-top: 150px;
}


.Destination .text2{
    text-align: center;
}

.Destination .text2 h1{
    font-size: 60px;
    opacity: .8;
}

.Destination .text2 p{
    font-size: 20px;
    opacity: .7;
}

.Destination .photofame1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.Destination .photofame1 .imges1 img{
    width: 100%;
    
}

.Destination .photofame1 .imges1{
    position: relative;
}


 .country{
    position: absolute;
    color: rgb(255, 252, 252);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    
}

.Destination .photofame1 .imges2 img{
    width: 100%;
}

.Destination .photofame1 .imges2{
    position: relative;
}


.Destination .photofame2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-top: 30px;
}

.Destination .photofame2 .imges3 img{
    width: 100%;
    height: 400px;
}

.Destination .photofame2 .imges3{
    position: relative;
}

.Destination .photofame3{
    display: flex;
    gap: 20px;
    padding-top: 30px;
}

.Destination .photofame3 .imges6 img{
    width: 100%;
    height: 400px;
}

.Destination .photofame3 .imges6{
    position: relative;
}


.Destination .photofame3 .imges7 img{
    width: 104%;
    height: 400px;
}

.Destination .photofame3 .imges7{
    position: relative;
}

/*Destination End*/


/*Choose-us start*/
.Choose-Us{
    padding-top: 100px;
    padding-bottom: 100px;
}


.Choose-Us .Why{
    text-align: center;
}


.Choose-Us .Why h1{
    font-size: 55px;
}

.Choose-Us .Why h3{
    font-size: 25px;
    opacity: .7;
    font-weight: 500;
}

.Choose-Us .hotel{
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding-bottom: 30px;
}


.Choose-Us .hotel .hotels{
    border: 1px solid rgb(245, 221, 143);
    height: 320px;
    background-color:rgb(252, 244, 230);
    border-radius: 15px;
    padding-left: 50px;
    padding-top: 50px;
}


.Choose-Us .hotel .hotels i{
    font-size: 60px;
}


.Choose-Us .hotel .hotels h1{
    font-size: 40px;
    font-weight: 600;
}


.Choose-Us .hotel .hotels p{
    font-size: 25px;
    opacity: .8;
}

.Choose-Us .hotel .maps{
    border: 1px solid rgb(116, 213, 243);
    height: 320px;
    background-color:rgb(227, 249, 252);
    border-radius: 15px;
    padding-left: 50px;
    padding-top: 50px;
}


.Choose-Us .hotel .maps i{
    font-size: 60px;
}

.Choose-Us .hotel .maps h1{
    font-size: 40px;
    font-weight: 600;
}


.Choose-Us .hotel .maps p{
    font-size: 25px;
    opacity: .8;
}

    
.Choose-Us .product-percent{
    width: 50%;
    margin: 0 auto;
    
}

.Choose-Us .product-percent .percent{
    border: 1px solid pink;
    border-radius: 15px;
    background-color: rgb(252, 238, 241);
    padding-top: 50px;
    height: 320px;
    padding-left: 50px;
}

.Choose-Us .product-percent .percent i{
    font-size: 60px;
}

.Choose-Us .product-percent .percent h1{
    font-size: 40px;
    font-weight: 600;
}

.Choose-Us .product-percent .percent p{
    font-size: 25px;
    opacity: .8;
}
/*Choose-us End*/


/*Deals & Discounts Start*/
.Deals-Discounts .discount{
    text-align: center;
}


.Deals-Discounts .discount h1{
    font-size: 60px;
    font-weight: 600;
}

.Deals-Discounts .discount p{
    font-size: 22px;
    opacity: .8;
}

.Deals-Discounts .dil1{
    padding-top: 30px;
    position: relative;
   
}
.Deals-Discounts .dil1 img{
width: 100%;
}

.Deals-Discounts .dil1 .dil-1{
    position: absolute;
    justify-content: right;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    background-color: rgba(243, 239, 239, 0.9);
    border-radius: 15px;
    padding: 30px 30px 30px 30px;
    width: 50%;
    
    
}

.Deals-Discounts .dil1 .dil-1 i{
    color: orangered;
    font-size: 30px;
    padding: 5px;
   
}

.Deals-Discounts .dil1 .dil-1 .text-dil{
    font-size: 25px;
    
}

.Deals-Discounts .dil1 .dil-1 h1{
    font-size: 40px;
}

.Deals-Discounts .dil1 .dil-1 p{
    font-size: 25px;
    opacity: .7;
}

.Deals-Discounts .dil1 .dil-1 h2{
    font-size: 30px;
    color: orangered;
}

.Deals-Discounts .dil1 .dil-1 .orang-button{
    border: 1px solid orangered;
    color: white;
    border-radius: 10px;
    background-color: orangered;
    cursor: pointer;
    padding: 20px 50px 20px 50px;
    font-size: 25px;
    font-weight: bolder;
}


.Deals-Discounts .dil2{
    padding-top: 30px;
    position: relative;
   
}
.Deals-Discounts .dil2 img{
    width: 100%;
}

.Deals-Discounts .dil2 .dil-2{
    position: absolute;
    justify-content: left;
    top: 50%;
    left: 31%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    background-color: rgba(243, 239, 239, 0.9);
    border-radius: 15px;
    padding: 30px 30px 30px 30px;
    width: 50%;
    
    
}

.Deals-Discounts .dil2 .dil-2 i{
    color: orangered;
    font-size: 30px;
    padding: 5px;
   
}

.Deals-Discounts .dil2 .dil-2 .text-dil{
    font-size: 25px;
    
}

.Deals-Discounts .dil2 .dil-2 h1{
    font-size: 40px;
}

.Deals-Discounts .dil2 .dil-2 p{
    font-size: 25px;
    opacity: .7;
}

.Deals-Discounts .dil2 .dil-2 h2{
    font-size: 30px;
    color: orangered;
}

.Deals-Discounts .dil2 .dil-2 .orang-button{
    border: 1px solid orangered;
    color: white;
    border-radius: 10px;
    background-color: orangered;
    cursor: pointer;
    padding: 20px 50px 20px 50px;
    font-size: 25px;
    font-weight: bolder;
}


.Deals-Discounts .Packages{
    text-align: center;
    padding-top: 50px;
    margin: 0 auto;
}

.Deals-Discounts .Packages .orang-button{
    padding: 20px 30px 20px 30px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    border: 1px solid orangered;
    background-color: orangered;
    border-radius: 10px;
    cursor:pointer;
}

/*Deals & Discounts End*/


/*Perfect Place Start*/
.Perfect-Place{
    width: 100%;
    padding-top: 100px;
}

.Perfect-Place .vedio-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}


.Perfect-Place .vedio-section .text-section h1{
    font-size: 60px;
    font-weight: 700;
}

.Perfect-Place .vedio-section .text-section p{
    font-size: 25px;
    opacity: .8;
}

.Perfect-Place .vedio-section .text-section i{
    font-size: 20px;
    font-weight: bolder;
   
}


.Perfect-Place .vedio-section .text-section .point-list{
    font-size: 25px;
    opacity: .8;
}

.Perfect-Place .vedio-section .text-section .orang-button{
    padding: 20px 30px 20px 30px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    border: 1px solid orangered;
    background-color: orangered;
    border-radius: 10px;
    cursor:pointer;
}

.Perfect-Place .vedio-section .video iframe{
    padding-top: 55px;
    width: 100%;
    height:500px;
}

/*Perfect Place End*/


/*Newslater-section start*/
.News{
    padding-top: 100px;
}

.News .newslater{
    display: flex;
    gap: 30px;
}

.News .newslater .information{
    width: 40%;
    border:2px solid orangered ;
    border-radius: 15px;
    padding:10px 40px;
    height: 500px;
}

.News .newslater .information h1{
    font-size: 40px;
    font-weight: 600;
}


.News .newslater .information p{
    font-size: 25px;
    opacity: .7;
}


.News .newslater .information input{
    padding: 10px 130px;
    background-color: aliceblue;
    font-size: 30px;
    text-align: center;
    border: 1px solid aliceblue;
    border-radius: 10px;
}

.News .newslater .information .Subscribe{
    padding:20px 245px;
    font-size: 30px;
    color: white;
    background-color: orangered;
    border: 1px solid orangered;
    border-radius: 10px;
    cursor: pointer;
}


.News .newslater .travel-com{
    width: 60%;
    position: relative;
}

.News .newslater .travel-com img{
    width: 100%;
    
}

.News .newslater .travel-com .travel-information h2{
    text-align: center;
    font-size: 30px;
}


.News .newslater .travel-com .travel-information h1{
    font-size: 50px;
    text-align: center;
}


.News .newslater .travel-com .travel-information{
    position: absolute;
    justify-content: right;
    bottom: 2%;
    left: 70%;
    color: white;
    transform: translate(-50%, -50%) rotate(-20deg);
    border: 1px solid orangered;
    background-color: orangered;
    border-radius: 15px;
    padding: 20px 20px 20px 20px;
    width: 50%;
    height:100px;
    line-height: 10px;
}
/*Newslater-section End*/
